@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* open-sans-300 - latin */
  @font-face {
    font-display: fallback;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local(''), url('/fonts/open-sans-v23-latin-300.woff2') format('woff2'),
      url('/fonts/open-sans-v23-latin-300.woff') format('woff');
  }
  /* open-sans-regular - latin */
  @font-face {
    font-display: fallback;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
      url('/fonts/open-sans-v23-latin-regular.woff2') format('woff2'),
      url('/fonts/open-sans-v23-latin-regular.woff') format('woff');
  }
  /* open-sans-700 - latin */
  @font-face {
    font-display: fallback;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local(''), url('/fonts/open-sans-v23-latin-700.woff2') format('woff2'),
      url('/fonts/open-sans-v23-latin-700.woff') format('woff');
  }
}
