/* @import "https://fonts.googleapis.com/css?family=Josefin+Sans:400,700"; */

.masonry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 1em;
  grid-auto-rows: minmax(0, 1fr);
  grid-auto-flow: dense;
  padding: 1em;
}

.w1h2 {
  grid-row-end: span 2;
}

.w2h2 {
  grid-column-end: span 2;
  grid-row-end: span 2;
}
